


<div class="div">
    <h1 class="title-products">Lista de productos</h1>
    <ul class="products">
        <div class="list-container">
        <li><strong>TITLE</strong></li>
        <li><strong>PRICE</strong></li>
        <li><strong>STOCK</strong></li>
        </div>
        {{#each list}}
        <div class="list-container">
        <li>{{this.title}}</li>
        <li>{{this.price}}</li>          
        <li>{{this.stock}}</li>
        </div>
        {{/each}}
    </ul>



</div>